[project]
	description = a test repo for playing with gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Hay (davidhay)
[access "refs/for/refs/*"]
	read = group user/David Hay (davidhay)
	push = group user/David Hay (davidhay)
	label-Code-Review = -2..+2 group user/David Hay (davidhay)
	label-Verified = -1..+1 group user/David Hay (davidhay)
	rebase = group user/David Hay (davidhay)
	removeReviewer = group user/David Hay (davidhay)
	submit = group user/David Hay (davidhay)
[access "refs/heads/*"]
	read = group user/David Hay (davidhay)
	create = group user/David Hay (davidhay)
	push = +force group user/David Hay (davidhay)
	pushMerge = group user/David Hay (davidhay)
[access "refs/tags/*"]
	push = +force group user/David Hay (davidhay)
	pushTag = group user/David Hay (davidhay)
	pushSignedTag = group user/David Hay (davidhay)
